.Text {
  .text-area {
    height: 50rem;
    width: 60%;
    font-family: 'Inter', serif; 
    font-size: 12pt;
    outline: none;
    padding: 12px 12px;
  }

  .mgt-2 {
    margin: 30px 0;
  }
}
